
@font-face {
    font-family: 'Neue Helvetica Bk';
    src: url('../scr47One.github.io/Fuentes/Helvetica/Neue\ Helvetica/HelveticaNeueLTCom-XBlkCn.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: 'Neue Helvetica Lt';
    src: url('../scr47One.github.io/Fuentes/Helvetica/Neue\ Helvetica/HelveticaNeueLTCom-Lt.ttf');
    font-weight: normal;
}

.body
{
    font-size: 30px;
    font-family: 'Neue Helvetica Lt';
    font-variant: inherit;
    background-color: rgb(255, 255, 255);
    color: black;   
}
/*
propiedades de cajas
content: es el contenido de la caja
padding: es el margen dentro de la caja
border: es el borde de la caja
margin: es el margen fuera de la caja
*/
/*
Position
relative> 

.body__header
{
    background-color: rgb(231, 110, 106);
    margin: 20px 10px;
    border-radius: 40px;
    box-shadow: 7px 7px 20px  rgb(255, 255, 255),-7px -7px 20px  rgb(182, 182, 182);
}
*/
.body__header__hgroup
{

    padding: 40px;
    font-family:  'Neue Helvetica Bk';
    color: black;
    background-color: rgb(231, 110, 106);
    margin: 20px 10px;
    border-radius: 40px;
    box-shadow: 7px 7px 20px  rgb(255, 255, 255),-7px -7px 20px  rgb(136, 136, 136);
}
.body__nav, .body__section
{
    font-size: 1em;
    color: black;
    padding: 40px;
    background-color: rgb(231, 110, 106);
    border-radius: 40px;
    margin: 20px 10px;
    border-style: outset white;
    box-shadow: 7px 7px 20px  rgb(255, 255, 255),-7px -7px 20px  rgb(136, 136, 136);
}
.body__section__article__p
{
 
    color: black;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    margin: 20px 10px;
    border-style: outset white;
}
.body__section__time
{
    font-size: 1em;
    color: black;
}

.body__section__article__hgroup
{
    font-family: 'Neue Helvetica Bk';
    color: black;
    font-size: smaller;
}  

