
:root{
  --color-gris: #4f4f4f;
  
  
  --color-rojo-vivo: #ff3b3d;
  
  
  --color-tierra-claro: #A9A9A9;
  
  
  --color-arena: #efefef;
  
  
  --color-azul-c: #CCEAF4;
  
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0.3em;
}
a:hover {
  font-weight: 800;
  color: color-arena;
  text-decoration: none;
}
h3{
  font-weight: 900;
  color:#4f4f4f;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-weight: 600;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #efefef;
}
.header ul {
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: right;
}

.header a {
  margin-left: 25pt;
  margin-right: 25pt;
  color: #4f4f4f;
  display: block;
  text-align: right;
  text-decoration: none;
}
.header a:hover {
  font-weight: 800;
  color: #ff3b3d;
  text-decoration: none;
}

#header_logo{
width: 10%;
}

/* FOOTER ---------------------------------*/
.footer {
  font-weight: 600;
  width: 100%;
  margin-top: auto;
  bottom: 0;
  background-color: #4f4f4f;
}

.footer ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer li {
  float: left;
}

.footer a {
  margin: 1em;
  color: #efefef;
  display: inline-block;
  text-decoration: none;
}
.footer a:hover {
  font-weight: 800;
  color: #ff3b3d;
  text-decoration: none;
} 

/* PRINCIPAL ----------------------------- */
.principal {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  
  .principal > .principal_imagen {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
  .principal_a {
    text-align: right;
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translate(0%, 90%);
  }
  .principal_parrafo {
    font-size: 600%;
    font-weight: 900;
  
    text-align: center;
    position: absolute;
    color: #4f4f4f;
    
     top: 30%;
     left: 3%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
  }
  .principal div {
    color: #4f4f4f;
    display:block;
    white-space:nowrap;
  }
    
  .principal_parrafo div:first-of-type { 
    background-color: #CCEAF4;
    animation: showup 10s infinite;
  }
  
  .principal_parrafo div:last-of-type {
    animation: reveal 10s infinite;
  }
  
  .principal_parrafo div:last-of-type span {
    color:#ff3b3d;
    animation: slidein 10s infinite;
  }

  .pasos{
    display: inline-block;
    
    flex-direction: column;
    text-align:justify;
    background-color: #A9A9A9;
    
  }
  .pasos_imagen{
    width: 100%; 
    display: flex;
    justify-content: space-around; 
    align-items: center;   
  }
  .pasos_imagen > div{

    margin: 20pt;
    padding: 40pt;
    background-color:#ff3b3d;
    border-radius: 50%;
  }

  .pasos_imagen img {
    width: 90pt;
    height: 90pt;
  }
  .pasos_p {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    font-size: 200%;
    font-weight: 700;
  
    text-align: center;
    
    color: #4f4f4f;
  }
.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align:justify;
  align-items: center;
  vertical-align: middle;
  background-color:#CCEAF4;
  overflow: hidden;
}
.contenido p{
  word-wrap: break-word;
  white-space: wrap;
  overflow: hidden;
  /* height: 100pt; */
  width: 100%;
  max-width: 270pt;
}
.contenido img {
  width: 120pt;
    height: 120pt;
    margin: 20pt;
  padding: 40pt;
}
.contenido h3{
  font-size: 200%;
}
.contenido_ingenieria_social{
  display: flex;
  width: 350pt;
}
.contenido_ingenieria_social div {
  
  margin: 20pt;
  padding: 40pt;
  background-color:#efefef;
}
.contenido_malware{
  display: flex;
  width: 350pt;
}
.contenido_malware div {
  
  margin: 20pt;
  padding: 40pt;
  background-color:#efefef;
}
.contenido_contrasena{
  display: flex;
  width: 350pt;
}
.contenido_contrasena div {
  
  margin: 20pt;
  padding: 40pt;
  background-color:#efefef;
}
.contenido_conexion{
  display: flex;
  width: 350pt;
}
.contenido_conexion div {
  
  margin: 20pt;
  padding: 40pt;
  background-color:#efefef;
}


  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
